.car-outer-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 0.5em;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    margin: 20px;
}


.car-outer-container img {
    width: 25vw;
    object-fit: cover;
    height:30vh;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: all .2s ease-in-out;
}
.car-outer-container img:hover {
    scale: 1.1;
}

.center {
    align-items: center;
}